* {
    margin: 0;
    padding: 0;
}

body {
    background-color: purple;
}
h1 {
    text-align: center;
    font-family: "roboto" , sans-serif;
    margin-top: 15px;
    color: white;
    background-color: crimson;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 450px;
    height: 500px;
    margin: 15px 0px;
    padding: 30px;
    border: blue solid 5px
}
